.container-fluid{
    background-color:Cornsilk;
  }
  
  .col-sm-12 {
    font-size:25px;
    font-family: serif;
    font-style:normal;
    background-color:Thistle;
  }
  #header img{
    width:110px;
    height:150px;
  }
  #priceOfOrderField {
    font-size:25px;
    font-family: serif;
    background-color:SlateBlue; 
  }
  input{
    font-size:15px;
    font-family: serif;
    background-color: LightCyan;
    border: 1px solid black;
    width: 65px;
  }
 #CalculateButton{
  font-size:15px;
  font-family: sans-serif;
  background-color: IndianRed;
  border: 1px solid black; 
 }
